* {
	margin: 0;
	padding: 0;
}

body{
    display: grid;
    height: 100vh;
    grid-template: auto auto 3fr 1fr / 2fr 1fr;
}

header{
    text-align: left;
    grid-column: 1 / 4;
    padding: 2rem;
    background-color: #333333;
    color: white;
}
nav{
    grid-column: 1 / 4;
}
nav ul{
    
    max-width: auto;
    background-color: #000000;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav li{

    flex: 1 1 auto;
}
nav a{
    padding: 0.75rem;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
}

#Main{
    padding: 2rem;
    grid-column: 1 / 2;
    color: #000000;
    background-color: #CCCCCC;
}

#Aside{
    padding: 2rem;
    grid-column: 2 / 3;
    color: #000000;
    background-color: #FFFFFF;
}

/* <----------------------------------------------------------> */

footer{
    text-align: center;
    padding: 2rem;
    background-color: #333333;
    color: white;
    grid-column: 1 / 4;
}