@media (min-width: 740px) {
	header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }	

    nav ul{
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a{
        display: block;
        flex: 1 1 100%;
    }

    .container{
        grid-template-columns: repeat(3, minmax(200px, 1fr)); 
    }
    
    .menu {
		display: none;
	}
}